@page "/"

@layout HomeLayout

<PageTitle>Home</PageTitle>

<div class="flex items-stretch justify-start mb-10 px-4 overflow-hidden relative">
    <a href="#" class="relative group block mr-4 flex-shrink-0">
        <div class="absolute inset-0 bg-black opacity-75 hidden group-hover:flex flex-col justify-end text-white px-4 py-4 cursor-pointer">
            <div>
                <h3 class="text-lg mb-2">30 Yards</h3>
                <p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam temporibus error ducimus necessitatibus eius excepturi nemo exercitationem distinctio minus ipsum! Delectus beatae ducimus eos repellendus. Sit consectetur ad expedita provident.</p>
            </div>
        </div>
        <img src="https://picsum.photos/300/400" alt="#">
    </a>

    <a href="#" class="relative group block mr-4 flex-shrink-0">
        <div class="absolute inset-0 bg-black opacity-75 hidden group-hover:flex flex-col justify-end text-white px-4 py-4 cursor-pointer">
            <div>
                <h3 class="text-lg mb-2">Utah</h3>
                <p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam temporibus error ducimus necessitatibus eius excepturi nemo exercitationem distinctio minus ipsum! Delectus beatae ducimus eos repellendus. Sit consectetur ad expedita provident.</p>
            </div>
        </div>
        <img src="https://picsum.photos/300/400" alt="#">
    </a>

    <a href="#" class="relative group block mr-4 flex-shrink-0">
        <div class="absolute inset-0 bg-black opacity-75 hidden group-hover:flex flex-col justify-end text-white px-4 py-4 cursor-pointer">
            <div>
                <h3 class="text-lg mb-2">Her Majesty</h3>
                <p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam temporibus error ducimus necessitatibus eius excepturi nemo exercitationem distinctio minus ipsum! Delectus beatae ducimus eos repellendus. Sit consectetur ad expedita provident.</p>
            </div>
        </div>
        <img src="https://picsum.photos/300/400" alt="#">
    </a>


    <a href="#" class="relative group block mr-4 flex-shrink-0">
        <div class="absolute inset-0 bg-black opacity-75 hidden group-hover:flex flex-col justify-end text-white px-4 py-4 cursor-pointer">
            <div>
                <h3 class="text-lg mb-2">The Rumor</h3>
                <p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam temporibus error ducimus necessitatibus eius excepturi nemo exercitationem distinctio minus ipsum! Delectus beatae ducimus eos repellendus. Sit consectetur ad expedita provident.</p>
            </div>
        </div>
        <img src="https://picsum.photos/300/400" alt="#">
    </a>

    <a href="#" class="relative group block mr-4 flex-shrink-0">
        <div class="absolute inset-0 bg-black opacity-75 hidden group-hover:flex flex-col justify-end text-white px-4 py-4 cursor-pointer">
            <div>
                <h3 class="text-lg mb-2">White Smoke</h3>
                <p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam temporibus error ducimus necessitatibus eius excepturi nemo exercitationem distinctio minus ipsum! Delectus beatae ducimus eos repellendus. Sit consectetur ad expedita provident.</p>
            </div>
        </div>
        <img src="https://picsum.photos/300/400" alt="#">
    </a>
</div>
