@page "/movies"

<PageTitle>Movies</PageTitle>

<h1 class="text-white text-3xl font-bold">Movies</h1>

<section class="mx-4 mt-6 w-[380px] h-[310px] rounded-lg grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 md:mx-[80px] md:mt-[50px] md:w-[650px] md:h-[310px] lg:grid-cols-4 lg:gap-6 lg:mx-[90px] lg:w-[1000px] lg:h-[310px] xl:grid-cols-5 xl:gap-6 xl:mx-[100px] xl:mt-[50px] xl:w-[1100px] xl:h-[310px] 2xl:grid-cols-6 2xl:gap-6 2xl:mx-[60px] 2xl:mt-[50px] 2xl:w-[1400px] 2xl:h-[310px] duration-300">
    <div class="post cursor-pointer rounded-lg">
        <img class="rounded-lg" src="https://picsum.photos/300/400" alt="post1"/>
        <span class="text-white">Movie title</span>
        <p class="text-white mb-[20px]">
            Avengers Endgame Full Movie Download 480p 720p 1080p
        </p>
    </div>
    <div class="post cursor-pointer rounded-lg">
        <img class="rounded-lg" src="https://picsum.photos/300/400" alt="post2"/>
        <span class="text-white">Movie title</span>
        <p class="text-white">
            Underground Full Movie Download 480p 720p 1080p
        </p>
    </div>
    <div class="post cursor-pointer rounded-lg">
        <img class="rounded-lg" src="https://picsum.photos/300/400" alt="post1"/>
        <span class="text-white">Movie title</span>
        <p class="text-white mb-[20px]">
            All of Us Are Dead Season 1 Download 480p 720p 1080p
        </p>
    </div>
    <div class="post cursor-pointer rounded-lg">
        <img class="rounded-lg" src="https://picsum.photos/300/400" alt="post2"/>
        <span class="text-white">Movie title</span>
        <p class="text-white">
            Uncharted Full Movie Download 480p 720p 1080p
        </p>
    </div>
</section>
