<nav class="md:p-3 py-2 px-3 z-10">
    <div class="container mx-auto md:flex block flex-wrap items-center justify-start">
        <div class="flex-1 flex items-center justify-between">
            <a href="/">
                <img src="logo.webp" alt="GSL Logo">
            </a>
            <button data-menu-toggle class="md:hidden block pr-1">
                <svg class="fill-current text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
        <ul data-menu class="md:flex hidden flex-wrap items-center justify-start text-white">
            <a href="/" class="md:px-6 py-2">
                Home
            </a>
            <a href="/movies" class="md:px-6 py-2">
                Movies
            </a>
            <a href="/about" class="md:px-6 py-2">
                About
            </a>
            <a href="/contact" class="md:px-6 py-2">
                Contact
            </a>
            <a class="md:px-6 py-2 border border-white rounded-full" href="/sign-in">
                Sign in
            </a>
        </ul>
    </div>
</nav>
